.pagination {
	display: flex;
	justify-content: center;

    li {
        &:not(.pagination-previous):first-child {
            display: none;
        }
	}

	a {
		font-weight: $font-weight-regular;
		text-decoration: none;
		transition: background-color 250ms ease-out, color 250ms ease-out;
	}

	a,
	button {
		&:hover {
			color: $white;
		}
	}
}
